@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1 {
  color: red;
}
#опрос {
  color: rgb(17, 4, 4);
}
.avatar {
  width: 250px;
  border-radius: 25px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 20);
}

body {
  background-color: rgb(226, 223, 223);
  font-size: 18px;
  font-family: "roboto", sans-serif;
  color: #383b3a;
}

ol {
  padding: 10px;
}

.card {
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px 20px;
}
.bg-red {
  background-color: rgb(145, 92, 92);
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}
